#titulo {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 60px;
}

#subtitulo {
    color: rgb(39, 36, 180);
    text-align: center;
    font-size: 30px;
}

.texto {
    color: rgb(255, 163, 60);
    text-align: center;
}

#banner {
    width: 300px;
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-image: linear-gradient(#B31312,#EA906C);
    text-align: center;
    margin: 0;
    padding: 20px;
}

.cabecalho-principal {
    margin: 0;
    padding: 0;
}

.conteudo {
    background-color: rgb(217, 255, 0);
    margin: 0;
    padding: 10%;
}

.rodape {
    background-color: rgb(28, 212, 22);
    margin: 0;
    padding: 10%;
}