#titulo {
    color: rgb(61, 48, 162);
    text-align: center;
    font-size: 60px;
}

#subtitulo {
    color: rgb(177, 94, 255);
    text-align: center;
    font-size: 30px;
}

.texto {
    color: rgb(255, 163, 60);
    text-align: center;
}

body {
    background-color: rgb(137, 207, 243);

}